spring:
  app:
    jwtSecret: "MySecretKey1234QRsdfghjk23456789sdfghj345678sdfghjk34567890sdfghjkl3456789"
    jwtExpirationMs: 300000000

  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      encoding: UTF-8
